.Collapsible .section {
    margin: 1rem;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    color: rgb(211, 243, 255);
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.container .box .description {
    margin-bottom: 1rem;
    max-width: 50vw;
    margin-left: 1rem;
    @media screen and (max-width: 768px) {
        max-width: 90vw;
    }
}

.container .box .header {
    font-weight: bold;
    font-size: 1.5rem;
}

.container .box .subheader {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
}