.Collapsible .content {
    cursor: pointer;    
}

.Collapsible .section {
    margin: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

 .description {
    margin-bottom: 1rem;
}