.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    width: 90vw;
    /* space between */
}

.contact-form .title, .contact-form input {
    margin-bottom: 1rem;
}
.contact-form label {
    margin-bottom: 0.5rem;
}

.contact-form input, .contact-form textarea {
    padding: 0.5rem;
}

.contact-form .name, .contact-form .email, .contact-form > button {
    max-width: 20rem;
}

.contact-form .message {
    min-width: 90%;
    height: 5rem;
    margin-bottom: 1rem;
}