.projects-page {
    text-align: center;
}

.projects-page .sub-header {
    margin-bottom: 2rem;
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;    
    gap: 2rem;
    margin-bottom: 3rem;
}

.projects-page .container {
    justify-content:space-between;
    gap: 0.5rem;
}

.projects-page .container .project,
.projects-page .container .image {
    max-width: 90vw;
    width: 21rem;
}

.projects-page .container .githubLink, 
.projects-page .container .imageContainer {
    margin-bottom: 0.5rem;
}