.project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;    
    gap: 2rem;
}

.projects {
    margin-bottom: 1rem;
}

.projects .header {
    text-align: center;
}

.projects .sub-header {
    text-align: center;
    margin-bottom: 2rem;
}

.projects .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-bottom: 2rem;
    gap: 0.5rem;
}

.projects .container .imageContainer {
    margin: auto;
}   

.projects .container .text {
    width: 21rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
}

.projects .container .image {
    width: 21rem;
}

.projects .container .githubLink {
    margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
    .project {
        gap: 0rem;
    }

    .projects .intro {
        font-size: 1rem;
    }
    
    .projects .container {
        text-align: center;
        margin-bottom: 1rem;
    }

    .projects .container .text {
        width: 90%;

    }

    .projects .container .image {
        width: 90%;
        margin-bottom: 1rem;
    }
}