.projects {
    padding: 0.2rem;
    margin: 0 5%;
}

.projects .header {
    text-align: center;
}

.projects .sub-header {
    text-align: center;
    /* margin-bottom: 2rem; */
}

.projects .container {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 3rem;
    gap: 1rem;
}

.projects .container .imageContainer {
    margin: auto;
}   

.projects .container .text {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects .container .image {
    width: 30vw;
}

.projects .container .githubLink {
    margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
    .projects .intro {
        font-size: 1rem;
    }
    
    .projects .container {
        flex-direction:column-reverse;
        text-align: center;
    }

    .projects .container .text {
        width: 100%;
        margin: auto;
        

    }

    .projects .container .image {
        width: 100%;
    }
}