.projectPage {
    margin-bottom: 1rem;
}

.projectPage .title {
    text-align: center;
    margin: 1rem;
}

/* When a project has no image but has information this styles it correctly */
.projectPage img[src=""] {
    display:none;
}

.projectPage .section {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}

.projectPage .detailsImage {
    object-fit: contain;
    max-height: 90vh;
    width: 40%;
    padding: 1rem;
}

.projectPage .detailsParagraph {
    margin: auto 2rem auto 2rem;
}

.imageContainer a:hover {
    background-color: transparent;
}

@media (max-width: 768px) {
    
    .projectPage .text {
        margin-bottom: 2rem;
    }

    .projectPage .section {
        display: flex;
        flex-direction: column;
    }
    
    .projectPage .detailsImage {
        width: 100%;
        max-height: 90vh;
        margin: auto;
        object-fit: contain;
    }
}