.footer {
    position: fixed;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem;
    background-color: rgb(0, 0, 0);
}

.footer div, .footer a {
    color: rgb(192, 220, 245);
}