.intro .buttons a:hover {
    background-color: transparent;
}

.intro {
    /* margin: 1rem 1rem 2rem 1rem; */
    color:rgb(191, 184, 239);
    text-align: center;
}

.intro .intro-text {
    margin-bottom: 4rem;
}

.intro .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
}
5
.intro Button {
    padding: 2rem;
    margin: 1rem;
    font-size: 2em;
    background-color: rgb(132, 123, 248);
    cursor: pointer;
}

.intro img {
    width: 30vw;
    max-height: 50vh;
    /* make sure aspect ratio of image stays consistent */
    object-fit: contain;
}

.intro h1 {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .intro .intro-text {
        margin-bottom: 1rem;
    }
    .intro .buttons {
        flex-direction: column;
    }
    .intro .button {
        font-size: 0.5em;
        margin-bottom: 1rem;
    }
    .intro img {
        width: 35vw;
    }
    .intro h1 {
        text-decoration: none;
    }    
}