* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    background-color: #252525;
    color: rgb(192, 220, 245);
    min-height: 100vh;
}

header {
    position: sticky;
    top: 0;
}

.site-title {
    font-size: 2rem;
    font-weight: bold;
}

a:link, a:visited {
    color: rgb(133, 240, 244);
    text-decoration: none;
}

a:hover {
    background-color: rgb(191, 184, 239);
}

body,
input,
textarea,
button {
  font-family: "Inter", sans-serif;
}