* {
    /* box-sizing: border-box; */
}

body {
    margin: 0;
}

.site-title {
    font-size: 2rem;
    font-weight: bold;
}

/* Navigation bar */
.nav {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
gap: 2rem;
    padding: 0 1rem;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    /* padding: .25rem; */
}

.nav ul {
    padding: 0;
    margin: 0;
    margin-right: 0.1rem;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav li .active {
    background-color: #555; /* TODO: Doesn't work */
}

.nav li:Hover {
    background-color: #777;
}

/* Introduction paragraph */
.intro {
    /* TODO: margin right and down, font larger, blue color */
    margin: 1rem 1rem 2rem 1rem;
    font-size: 1.5rem;
    color:darkslateblue;
}

/* Projects page */
.projectCards {
    padding: 0.2rem;
    margin: 0 5%;
}

.project-card {
    display: flex;
    flex-direction: row;
}

.leftColumn {
    width: 50%;
}

.rightColumn {
    width: 50%;
}   

.projectCards .image {
    margin-bottom: 3rem;
    margin-left: 1rem;
    max-width: 50vh;
    max-height: 50vh;
    object-fit:contain;
}

.projectCards .header {
    /* margin-bottom: 2rem; */
    text-align: center;
}

.projectCards .subHeader {
    margin-bottom: 2rem;
    text-align: center;
}

.projectCards .title {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 0.25rem;

}

.projectCards .description {
    margin-bottom: 1rem;
}

.projectCards .link {
    margin-bottom: 2rem;
    text-align: center;
    display: block;
}

@media (max-width: 500px) { /* 768px */
    .intro {
        font-size: 1rem;
    }
    .project-card {
        flex-direction: column;
    }

    .leftColumn {
        width: 100%;
        text-align: center;
    }

    .rightColumn {
        width: 100%;
        margin-left: 0;
        text-align: center;

    }
}

.aboutMe {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }